<!-- {% extends "main/layout.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="feedback" style="text-align: center; width:370px; margin-left: 420px;">
        <div class="container" style="margin-top: 60px; margin-bottom: 60px; text-align:center; background-color:aliceblue;">
            <div class="cart">
                <div style="margin-top: 50px;margin-bottom: 20px;">
                    <h6>Your feedback help us to improve</h6><small>Please let us know about your suggestion</small>
                </div>
                <img src="../media/suggestion.jpg" alt="error" width="150px;">
                <div class="form-group mt-4"><textarea class="form-control" rows="4" name="feedback" required placeholder="Message(message can be your compliment or any suggestion.)"></textarea>
                </div>
                <div>
                    <button type="submit"style=border-radius:20px;> <span style="color:cornflowerblue">send feedback</span> </button>
                </div><br>
                <p style="margin-bottom: 50px;">we will make sure change according to your feedback and satisfy your requirements</p>
            </div>
        </div>
    </div>
</form>
{% endblock content %} -->