.dishes .main .container .row img{
    max-width: 540px;
    max-height: 450px;
    width: fit-content;
}

.dishes .main .container .row .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.dishes .main .container .row .information{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* .footer .a{
    border: 1px solid red;
    text-align: center;
    color: black;
    padding-left: 50px;
}
#footer{
    border: 1px solid red;

}
.feedback .feedback{
    border: 3px solid red;
} */